@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

/* @layer tailwind-base, primereact, tailwind-utilities; */
@layer primereact, tailwind-utilities;

@import "primereact/resources/themes/lara-light-indigo/theme.css"
  layer(primereact);

/* @layer tailwind-base {
  @import "tailwindcss/index";
} */

@layer tailwind-utilities {
  @import "tailwindcss/utilities";
  @import "tailwindcss/theme";
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Paleta customizada baseada em #4345a5 */
@theme {
  --color-font-primary: #374151; /* gray-700 */
  --color-font-secondary: #6b7280; /* gray-500 */
  --color-font-selected: #eeeeee; /* When selected */

  --color-primary: #4345a5; /* To Buttons */
  --color-primary-light: #6366f1; /* to disable */

  /* bg */
  --color-background: #f5f6fa; /* geral gb */
  --color-content: #e5e6ea; /* content bg */

  /* Card */
  --color-surface: #e5e6ea;

  /* Hovers */
  --color-on-primary: #a5b4fc;
  --color-on-surface: #f0f1fa;
}

[data-theme="dark"] {
  --color-font-primary: #eeeeee; /* gray-500 */
  --color-font-secondary: #99a1af; /* gray-400 */

  --color-primary: #6366f1;
  --color-primary-light: #a5b4fc;

  --color-background: #1f2937; /* gray-800 */
  --color-content: #2f3947;

  --color-surface: #272e3f; /* Um cinza mais claro para cards */

  --color-on-primary: #6366f1;
  --color-on-surface: #32375a; /* gray-200 */
}

#App {
  @apply bg-background text-font-primary;
}

#root {
  font-family: "Roboto", Arial, sans-serif;
  @apply h-dvh flex flex-col;
}

/* Region Inputs */
.p-password,
.p-icon-field,
.p-icon-field > input {
  @apply w-full rounded-l-none;
}
.p-password-input {
  @apply w-full;
}

.btn-primary {
  @apply p-2 bg-primary-light text-white hover:bg-on-primary cursor-pointer rounded border-none;
}

.btn-cancel {
}

/* End region Inputs */

.selected {
  @apply bg-primary-light dark:text-font-primary text-font-selected;
}

.p-datatable {
  @apply rounded-md overflow-hidden shadow;
}

.p-datatable-table > .p-datatable-thead > tr > th {
  @apply bg-background text-font-secondary;
}
